{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="accion_container1 ">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="text-uppercase">ASESOR: <b>{{ user.get_username }}</b> </h3>
        <img src="{% static 'img/Logo-1.png' %}" alt="Mappit Logo" width="100">
    </div>
    <br><br>

    <div class="accion_container2">
        <div class="card_a py-4">
            <p><b>SEGUIMIENTO LEADS</b></p>
            <img src="{% static 'img/icono1.png' %}" alt="Crear consulta" class="iconac">
            <button class="btnconac" onclick="window.location.href='{% url 'asesorSeg' %}'">Ir</button>
        </div>
    </div>
    <br><br><br>
</div>
{% endblock %}