{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="gral-container">
    <h3>UNIDADES ECONÓMICAS ASIGNADAS</h3>
    <p>
        Hola {{ user.get_username }}! <br>
        Estas son tus unidades económicas asignadas:
    </p>
    <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
        <table class="table table-bordered" id="tablaSeguimiento">
            <thead class="table-primary">
                <tr>
                    <th>Nombre de la unidad económica</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th>Localidad</th>
                    <th>Latitud</th>    
                    <th>Longitud</th>
                    <th>Fecha de actualización</th>
                    <th>
                        <div class="d-flex justify-content-between">
                            <!-- Filtro dentro de la columna -->
                            <select id="filtroEstado" class="form-select" >
                                <option value="">Todos</option>
                                <option value="Prospecto">Prospecto</option>
                                <option value="Cliente Nuevo">Cliente Nuevo</option>
                                <option value="Ya era Cliente">Ya era Cliente</option>
                                <option value="Descartado">Descartado</option>
                                <option value="En Atención">Nuevos Asignados</option> 
                            </select>
                        </div>
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán dinámicamente las filas -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para editar el estado -->
<div class="modal fade" id="modalStatus" tabindex="-1" aria-labelledby="modalStatusLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalStatusLabel">Actualizar estado de la unidad económica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- traer la info de las unidades economicas -->
                </div>
                <form id="formStatusUpdate">
                    <div class="mb-3">
                        <label for="estadoSelect" class="form-label">Estado de la unidad</label>
                        <select id="estadoSelect" class="form-select">
                            <option value="Prospecto">Prospecto</option>
                            <option value="Cliente Nuevo">Cliente Nuevo</option>
                            <option value="Ya era Cliente">Ya era Cliente</option>
                            <option value="Descartado">Descartado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fechaCambio" class="form-label">Fecha del cambio</label>
                        <input type="date" id="fechaCambio" class="form-control">
                    </div>
                    <!-- Contenedor para el mapa de Mapbox -->
                    <div id="mapContainer" style="width: 100%; height: 500px;"></div>
                    <br>
                    <!-- Botón para abrir en Google Maps -->
                    <div class="mb-3">
                        <a id="verEnGoogleMapsBtn" href="#" target="_blank">
                            <button type="button" class="btn btn-info">Ver en Google Maps</button>
                        </a>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        obtenerUnidades();  // Cargar las unidades cuando la página se haya cargado
        document.getElementById("filtroEstado").addEventListener("change", filtrarPorEstado);
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function filtrarPorEstado() {
        const estadoSeleccionado = document.getElementById("filtroEstado").value.toLowerCase(); // Convertir a minúsculas para evitar problemas de mayúsculas
        const filas = document.querySelectorAll("#tablaSeguimiento tbody tr");

        filas.forEach(fila => {
            const estadoUnidad = fila.querySelector(".estado").textContent.toLowerCase(); // Filtrar por el texto de la columna

            // Verificar si el estado seleccionado es vacío o si el estado de la unidad coincide
            if (estadoSeleccionado === "" || estadoUnidad.includes(estadoSeleccionado)) {
                fila.style.display = "";  // Mostrar fila
            } else {
                fila.style.display = "none";  // Ocultar fila
            }
        });
    }
    

    function obtenerUnidades() {
        fetch('/obtener_unidades_por_asesor')
        .then(response => response.json())
        .then(data => {
            let tbody = document.querySelector("#tablaSeguimiento tbody");
            tbody.innerHTML = "";  // Limpiar la tabla
            
            if (data.unidades.length === 0) {
                tbody.innerHTML = "<tr><td colspan='3'>No hay unidades asignadas.</td></tr>";
            } else {
                data.unidades.forEach(unidad => {
                    let row = document.createElement('tr');
                    row.id = `unidad-${unidad.id}`;
                    row.style.backgroundColor = obtenerColorEstado(unidad.estado);

                    row.innerHTML = `
                        <td>${unidad.Nombre_de_la_Unidad_Economica}</td>
                        <td>${unidad.Entidad_federetiva}</td>
                        <td>${unidad.Municipio}</td>
                        <td>${unidad.Localidad}</td>
                        <td>${unidad.Latitud}</td>
                        <td>${unidad.Longitud}</td>
                        <td>${unidad.FechaEdicion}</td>
                        <td class="estado">${unidad.estado}</td>
                        <td><button class="btn btn-light" onclick="abrirModal(${unidad.id})">Editar</button></td>
                    `;

                    tbody.appendChild(row);
                });
                // Agregar los puntos en el mapa con los colores correspondientes
                agregarPuntos(data.unidades);
            }
        })
        .catch(error => console.error("Error al obtener unidades:", error));
    }

    function abrirModal(unidadId) {
        const unidad = document.querySelector(`#unidad-${unidadId}`);
        const estado = unidad.querySelector("td:nth-child(8)").textContent;
        const latitud = parseFloat(unidad.querySelector("td:nth-child(5)").textContent);
        const longitud = parseFloat(unidad.querySelector("td:nth-child(6)").textContent);

        //Establecer el valor dek estado y la fecha
        document.getElementById("estadoSelect").value = estado || "En atención";
        const hoy = new Date().toISOString().split('T')[0];
        document.getElementById("fechaCambio").value = hoy;

        // Establecer la URL de Google Maps en el botón
        const googleMapsUrl = `https://www.google.com/maps?q=${latitud},${longitud}`;
        document.getElementById("verEnGoogleMapsBtn").setAttribute("href", googleMapsUrl);

        const form = document.getElementById("formStatusUpdate");
        form.onsubmit = function(e) {
            e.preventDefault();
            actualizarEstado(unidadId);
        };

        const myModal = new bootstrap.Modal(document.getElementById('modalStatus'));
        myModal.show();

        setTimeout(() => inicializarMapa(latitud, longitud), 500);  // Retraso para evitar errores de carga
    }

    function actualizarEstado(unidadId) {
        const nuevoEstado = document.getElementById("estadoSelect").value;
        const fechaCambio = document.getElementById("fechaCambio").value;

        if (!fechaCambio) {
            alert("Por favor, selecciona una fecha.");
            return;
        }

        fetch('/actualizar_estado_unidad/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
                id: unidadId,
                nuevo_estado: nuevoEstado,
                fecha_cambio: fechaCambio
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const unidad = document.querySelector(`#unidad-${unidadId}`);
                unidad.querySelector("td:nth-child(8)").textContent = nuevoEstado;
                unidad.style.backgroundColor = obtenerColorEstado(nuevoEstado);
                unidad.remove();  // Eliminar la fila

                const myModal = bootstrap.Modal.getInstance(document.getElementById('modalStatus'));
                myModal.hide();
            } else {
                alert('Error al actualizar el estado');
            }
        })
        .catch(error => console.error("Error al actualizar el estado:", error));
    }
    // Función para inicializar el mapa con Mapbox
    function inicializarMapa(lat, lon) {
        mapboxgl.accessToken = 'pk.eyJ1Ijoidml2aXMyIiwiYSI6ImNtOHJ6bWgxaDEzbXgyam9tZjZ5eDNjcDUifQ.ZSV7rDNcxZuEKXzWEFu7pQ'; // Coloca tu token aquí

        const map = new mapboxgl.Map({
            container: 'mapContainer', // ID del contenedor del mapa
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [lon, lat], // Coordenadas de latitud y longitud
            zoom: 13
        });

        new mapboxgl.Marker()
            .setLngLat([lon, lat])
            .addTo(map);
    }
</script>

{% endblock %}
